*{
    font-family: "Poppins", sans-serif;;
}
header{
    background-color: #176B87;
}
#Nombre{
    color: #befdf7c0;
}
#Navs{
    color: #64CCC5;
}
#Navs:hover{
    color: #befdf7c0;
}
main{
    background: rgb(0,28,48);
    background: linear-gradient(135deg, rgba(0,28,48,1) 26%, rgba(13,75,99,1) 62%, rgba(18,95,121,1) 95%);
}
#Degree{
    color: #DAFFFB;
}
#aboutme{
    color: #176B87
}
.card-body{
    background-color: white;
}
footer{
    background-color: #176B87;
    color: #befdf7c0;
}
#icon-grid{
    color: #befdf7c0;
}
#SkillsTitles{
    color: #DAFFFB;
}
#linkedin{
    color: #64CCC5;
    font-size: 2em;
}
#linkedin:hover{
    color: #befdf7c0;
}
#icons{
    color: #DAFFFB;
    font-size: 1.75em;
}
#boton{
    background-color: #64CCC5;
    color: #176B87;
}
#boton:hover{
    background-color: #DAFFFB
}
#app{
    color: #befdf7c0;
}
